*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
}

:root {
    --primary: #269634;
    --text: #fff;
    --bg: #000;
}

header {
    background-color: var(--primary);
    color: var(--text);
}

main {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    border-radius: 1rem;
    border-color: var(--primary);
    padding: 1rem;
    background-color: var(--primary);
    color: #fff;
    transition: transform 0.5s;
    font-size: 1rem;
}

button:hover {
    transform: scale(1.1);
    background-color: #238830;
}

a {
    color: var(--text);
    text-decoration: none;
    transition: transform 0.5s;
}

a:hover {
    transform: scale(1.2);
}
