#titulo-navegacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}

#titulo-pagina {
    margin-top: 1.5%;
    margin-bottom: 1%;
}

/*Nav index rule*/
#hipervinculos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0.5rem;
}

/*Paragraph separation*/
#guia-uso h3, #guia-uso p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
