header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-pagina {
    margin-top: 1.5%;
    margin-bottom: 1%;
}

/*Nav index rule*/
#hipervinculos {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 0.5rem;
}

/*Paragraph separation*/
#guia-uso {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
