header {
    display: flex;
    justify-content: center;
}

header h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #fafafa;
    padding: 7.5rem;
    border: 0.05rem solid #979797;
    border-radius: 1rem;
}

/* Centrar los elementos internos del formulario */
#formulario-registro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Centrar el contenido de los contenedores de los inputs */
#formulario-registro form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-registro label{
    display: block;
}

#formulario-registro input{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}